<div class="w-full h-fit rounded-lg grid grid-cols-4 gap-4">
    <div class="col-span-3 shadow-[0_3px_10px_rgb(0,0,0,0.2)] rounded-lg row-span-2 w-full">
        <div id="default-carousel" class="relative w-full" data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="relative h-52 overflow-hidden rounded-lg md:h-96">
                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/NCCThienLongT1123_BannerMainBanner_1920x700.jpg"
                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/NCCMcBooksT1123_BannerSlide_840x320.jpg"
                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/20_11_mainbanner_Slide_840x320.jpg"
                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/DochoiT1123_BannerSlide_840x320.jpg"
                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
                <!-- Item 5 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/DochoiT1123_BannerSlide_840x320.jpg"
                        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                </div>
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                    data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                    data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                    data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
                    data-carousel-slide-to="3"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
                    data-carousel-slide-to="4"></button>
            </div>
            <!-- Slider controls -->
            <button type="button"
                class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-prev>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-200/30 group-hover:bg-white/50 dark:group-hover:bg-gray-200/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-white group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 1 1 5l4 4" />
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button"
                class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                data-carousel-next>
                <span
                    class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-200/30 group-hover:bg-white/50 dark:group-hover:bg-gray-200/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-white group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
    </div>
    <div class="col-span-1 overflow-hidden shadow-[0_3px_10px_rgb(0,0,0,0.2)] rounded-lg">
        <div class="">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/ZaloPay11_392x156_1.jpg "
                class="object-fill h-48 w-96" alt="...">
        </div>
    </div>
    <div class="col-span-1 overflow-hidden shadow-[0_3px_10px_rgb(0,0,0,0.2)] rounded-lg">
        <div class="">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-10-2023/VNPAYFHS20_392x156_1.jpg "
                class="object-fill h-48 w-96" alt="...">
        </div>
    </div>
    <div class="col-span-4">
        <div class="grid grid-cols-4 shadow-[0_3px_10px_rgb(0,0,0,0.2)] first-letter:gap-4 rounded-lg">
            <div>
                <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/NCCThienLongT1123_BannerSmallBanner_310x210_1.png"
                    class="object-fill h-62 w-96 rounded-lg" alt="...">
            </div>
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/TrangThieuNhiT923_Banner_SmallBanner_310x210-22_1.png"
                class="object-fill h-62 w-96 rounded-lg" alt="...">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/PopmartT1023_Banner_SmallBanner_310x210_4.png"
                class="object-fill h-62 w-96 rounded-lg" alt="...">
            <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/FahasaSaleThu3T1123_W1_Smallbanner_310x210_4.png"
                class="object-fill h-62 w-96 rounded-lg" alt="...">
        </div>
        <div
            class="w-full bg-white grid grid-cols-9 shadow-[0_3px_10px_rgb(0,0,0,0.2)] rounded-lg overflow-hidden gap-4 h-fit mt-4">
            <div class="text-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <a href="/sale-thu-3?fhs_campaign=homepageicon"><img
                            src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/F3T11_120x120.png"
                            class="center h-[60px]"></a>
                </div>
                <div class="cms-icon-menu-item-name mb-2 mt-2">Sale Thứ 3</div>
            </div>
            <div class="text-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <a href="/sale-thu-3?fhs_campaign=homepageicon"><img
                            src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/Icon20_11_120x120.png"
                            class="center h-[60px]"></a>
                </div>
                <div class="cms-icon-menu-item-name mb-2 mt-2">Tri ân thầy cô</div>
            </div>
            <div class="text-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <a href="/sale-thu-3?fhs_campaign=homepageicon"><img
                            src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/Icon_FlashSale_Thuong_120x120.png"
                            class="center h-[60px]"></a>
                </div>
                <div class="cms-icon-menu-item-name mb-2 mt-2">Flash sale</div>
            </div>
            <div class="text-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <a href="/sale-thu-3?fhs_campaign=homepageicon"><img
                            src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/Icon_MaGiamGia_8px_1.png"
                            class="center h-[60px]"></a>
                </div>
                <div class="cms-icon-menu-item-name mb-2 mt-2">Mã giảm giá</div>
            </div>
            <div class="text-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <a href="/sale-thu-3?fhs_campaign=homepageicon"><img
                            src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/IconDoChoi_Thuong_120x120.png"
                            class="center h-[60px]"></a>
                </div>
                <div class="cms-icon-menu-item-name mb-2 mt-2">Đồ chơi</div>
            </div>
            <div class="text-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <a href="/sale-thu-3?fhs_campaign=homepageicon"><img
                            src="https://cdn0.fahasa.com/media/wysiwyg/Thang-10-2023/Icon_MayTinh_120x120_1.png"
                            class="center h-[60px]"></a>
                </div>
                <div class="cms-icon-menu-item-name mb-2 mt-2">Máy tính</div>
            </div>
            <div class="text-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <a href="/sale-thu-3?fhs_campaign=homepageicon"><img
                            src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/Icon_SanPhamMoi_8px_1.png"
                            class="center h-[60px]"></a>
                </div>
                <div class="cms-icon-menu-item-name mb-2 mt-2">Sản phẩm mới</div>
            </div>
            <div class="text-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <a href="/sale-thu-3?fhs_campaign=homepageicon"><img
                            src="https://cdn0.fahasa.com/media/wysiwyg/icon-menu/Icon_PhienChoCu_8px_1.png"
                            class="center h-[60px]"></a>
                </div>
                <div class="cms-icon-menu-item-name mb-2 mt-2">Chợ cũ</div>
            </div>
            <div class="text-center">
                <div class="flex flex-col justify-center items-center mt-4">
                    <a href="/sale-thu-3?fhs_campaign=homepageicon"><img
                            src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2023/Icon_MangaT11_120x120_1.png"
                            class="center h-[60px]"></a>
                </div>
                <div class="cms-icon-menu-item-name mb-2 mt-2">Manga</div>
            </div>
        </div>
        <div class="bg-white shadow-[0_3px_10px_rgb(0,0,0,0.2)] rounded-lg w-full h-fit overflow-hidden mt-4 ">
            <div class="flex justify-start items-center bg-red-100">
                <img class="ml-2 center h-[30px]"
                    src="https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_dealhot.png" alt="noi bat">
                <h1
                    class="text-2xl p-4 text-start font-bold from-red-600 via-orange-500 to-orange-300 bg-gradient-to-r bg-clip-text text-transparent">
                    Sách nổi bật</h1>
            </div>
            <div class="grid grid-cols-6 gap-6 mx-auto" data-te-animation-init data-te-animation-start="onLoad"
                data-te-animation-reset="true" data-te-animation="[slide-in-right_1s_ease-in-out]">
                {{#each books}}
                <div class=" mt-4 mx-4 col-span-1">
                    <a href="/book/{{this._id}}" class=" mt-4 bg-white  rounded-lg  md:flex-row md:max-w-xl">
                        <img class="object-cover object-center w-full rounded-t-lg h-96 md:h-auto md:w-48 transition duration-300 ease-in-out hover:scale-110 md:rounded-none md:rounded-l-lg"
                            src="/uploads/{{this.image}}" alt="{{this.title}}">
                        <div class="p-4">
                            <h5 class="mb-2 text-lg font-bold-light tracking-tight text-gray-600 h-12">{{this.title}}
                            </h5>
                            <div class="flex items-start justify-start mb-5">
                                {{#each (sequenceAg this.average_score)}}
                                <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path
                                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                </svg>
                                {{/each}}
                                <p class="ml-2 text-sm font-medium text-gray-500 dark:text-gray-400">
                                    ({{this.review_count}})</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
        <hr
            class="my-12 h-0.5 border-t-0 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 opacity-100 dark:opacity-50" />
        <div class="bg-white shadow-[0_3px_10px_rgb(0,0,0,0.2)] rounded-lg w-full h-fit overflow-hidden mt-4 ">
            <div class="flex justify-start items-center bg-red-100">
                <img class="ml-2 center h-[30px]"
                    src="https://cdn0.fahasa.com/skin/frontend/base/default/images/ico_dealhot.png" alt="noi bat">
                <h1
                    class="text-2xl p-4 text-start font-bold from-red-600 via-orange-500 to-orange-300 bg-gradient-to-r bg-clip-text text-transparent">
                    Tiểu thuyết</h1>
            </div>
            <div class="grid grid-cols-6 gap-6 mx-auto" data-te-animation-init data-te-animation-start="onScroll"
                data-te-animation-reset="true" data-te-animation="[slide-in-left_1s_ease-in-out]">
                {{#each books}}
                <div class=" mt-4 mx-4 col-span-1">
                    <a href="/book/{{this._id}}" class=" mt-4 bg-white  rounded-lg  md:flex-row md:max-w-xl">
                        <img class="object-cover object-center w-full transition duration-300 ease-in-out hover:scale-110 rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                            src="/uploads/{{this.image}}" alt="{{this.title}}">
                        <div class="p-4">
                            <h5 class="mb-2 text-lg font-bold-light tracking-tight text-gray-600 h-12">{{this.title}}
                            </h5>
                            <div class="flex items-start justify-start mb-5">
                                {{#each (sequenceAg this.average_score)}}
                                <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path
                                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                </svg>
                                {{/each}}
                                <p class="ml-2 text-sm font-medium text-gray-500 dark:text-gray-400">
                                    ({{this.review_count}})</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
        <hr
            class="my-12 h-0.5 border-t-0 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 opacity-100 dark:opacity-50" />

    </div>