<div class="container my-24 mx-auto md:px-6">
    <section class="mb-32 text-center lg:text-left" data-te-animation-init data-te-animation-start="onLoad"
        data-te-animation-reset="true" data-te-animation="[fade-in-up_1s_ease-in-out]">
        <h2 class="mb-12 text-center text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-b from-red-700 to-orange-500">
            Kết quả tìm kiếm  : {{find}}
        </h2>
        {{#if result.length}}
        <div class="grid gap-x-6 grid-cols-4">
            {{#each result}}
            <div class="mb-12 lg:mb-0">
                <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                    data-te-ripple-init data-te-ripple-color="light">
                    <img src="{{this.image}}" class="w-full transition duration-300 ease-in-out hover:scale-110" />
                    <a href="/book/{{_id}}">
                        <div
                            class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,0.2)]">
                        </div>
                    </a>
                </div>
                <h5 class="mb-4 text-lg font-bold">{{this.title}}</h5>
                <div
                    class="mb-4 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 lg:justify-start">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="w-5 h-5 mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
                    </svg>
                    Hot news
                </div>
                <p class="text-neutral-500 dark:text-neutral-300">
                    Điểm số được đánh giá :{{this.average_score}}
                </p>
            </div>
            {{/each}}
        </div>
    </section>
    {{else}}
    <div class="flex items-center justify-center">
        <div class="text-center">
            <img src="https://sayrug.co.uk/bitrix/templates/mav/images/no-product.png" alt="Not Found Image" class="mx-auto mb-8">
            <h1 class="text-4xl font-bold text-gray-800 mb-4">Không Tìm Thấy Sản Phẩm</h1>
            <p class="text-gray-600">Rất tiếc, chúng tôi không thể tìm thấy sản phẩm bạn đang tìm kiếm.</p>
            <a href="/" class="text-blue-500 hover:underline">Quay lại trang chủ</a>
        </div>
    </div>
{{/if}}
    <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->